<div id="home">
    <button type="button"
            class="btn btn-success glyphicon glyphicon-barcode"
            data-ng-click="HomeCtrl.findInventoryItem()"><span class="sr-only">Scan item</span></button>
    <button type="button"
            class="btn btn-primary glyphicon glyphicon-save"
            data-ng-click="HomeCtrl.addItemToInventory()"><span class="sr-only">Register item</span></button>
    <button type="button"
            class="btn btn-info glyphicon glyphicon glyphicon-th-list"
            data-ng-click="HomeCtrl.addInventoryGrid()"><span class="sr-only">Open inventory management</span></button>
</div>